<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="prjGrow.Properties.Settings.dbGrowConnectionString"
        connectionString="Data Source=192.168.1.99;Initial Catalog=dbGrow;Persist Security Info=True;User ID=sa;Password=123"
        providerName="System.Data.SqlClient" />
    <add name="prjGrow.Properties.Settings.dbGrowConnectionString1"
        connectionString="Data Source=.;Initial Catalog=dbGrow;Persist Security Info=True;User ID=sa;Password=123"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
